<%- include('../header') %>

    <body class="home">

        <div class="main-wrapper">
            <section class="section-middle">

                <div class="page-title">
                    <div class="container">
                        <div class="page-title-in">
                            <h2>Author Profile</h2>
                        </div>
                    </div>
                </div>
                <!--page-title-->

                <div class="container">
                    <div class="user-profile-section">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="user-profile-inn">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="user-profile-img">
                                                <span>
                                                <img src="uploads/<%- user.profile %>" >
                                                </span>
                                            </div>
                                            <!-- <div class="hire-btns">
                                                <ul>
                                                    <li><a href="#" class="btn">Hire Me</a></li>
                                                    <li><a href="#" class="btn">Message Me</a></li>
                                                </ul>
                                            </div> -->
                                        </div>
                                        <div class="col-md-9">
                                            <div class="user-profile-body">
                                                <div class="user-profile-name">
                                                    <h2><%- user.firstName +' '+user.lastName %></h2>
                                                    <!-- <h3>Biology</h3> -->
                                                    <!-- <div class="reviews-stars">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div> -->
                                                </div>
                                                <div class="user-profile-dtl">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Full Name :</th>
                                                            <td><%- user.firstName +' '+user.lastName %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Email :</th>
                                                            <td><%- user.email %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Phone No :</th>
                                                            <td><%- user.phone ? user.phone : '--' %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Total Uploaded : </th>
                                                            <td><%- count %> </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="user-reviews">
                                    <div class="reviews-section">
                                        <div class="sec-head">Reviews</div>
                                        <div class="reviews-sec-divs">
                                            <div class="reviews-sec-div box-sh card card-body">
                                                <div class="reviews-ur-img">
                                                    <span><i class="fas fa-user"></i></span>
                                                </div>
                                                <div class="reviews-ur-cont">
                                                    <div class="reviews-ur-name">Nina Holloway</div>
                                                    <div class="reviews-ur-date">
                                                        14-01-2020
                                                    </div>
                                                </div>
                                                <div class="reviews-ur-dis">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s.
                                                </div>
                                                <div class="reviews-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="reviews-sec-div box-sh card card-body">
                                                <div class="reviews-ur-img">
                                                    <span><i class="fas fa-user"></i></span>
                                                </div>
                                                <div class="reviews-ur-cont">
                                                    <div class="reviews-ur-name">Nina Holloway</div>
                                                    <div class="reviews-ur-date">
                                                        14-01-2020
                                                    </div>
                                                </div>
                                                <div class="reviews-ur-dis">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s.
                                                </div>
                                                <div class="reviews-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="reviews-sec-div box-sh card card-body">
                                                <div class="reviews-ur-img">
                                                    <span><i class="fas fa-user"></i></span>
                                                </div>
                                                <div class="reviews-ur-cont">
                                                    <div class="reviews-ur-name">Nina Holloway</div>
                                                    <div class="reviews-ur-date">
                                                        14-01-2020
                                                    </div>
                                                </div>
                                                <div class="reviews-ur-dis">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s.
                                                </div>
                                                <div class="reviews-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-md-4">
                                <div class="user-profile-aside">
                                    <div class="card box-sh">
                                        <div class="card-header">About Me</div>
                                        <div class="card-body">
                                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been the industry's standard dummy text ever
                                                since the 1500s, when an unknown printer took a galley of type and
                                                scrambled it to make a type specimen book. It has survived not only five
                                                centuries, but also the leap into electronic typesetting, remaining
                                                essentially unchanged. It was popularised in the 1960s with the release
                                                of Letraset sheets containing Lorem Ipsum passages, and more recently
                                                with desktop publishing software like Aldus PageMaker including versions
                                                of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text ever since the 1500s, when an unknown printer took a galley of type
                                                .</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--container-->

            </section>
            <!--section-middle-->
        <%- include('../popup') %>


        </div>
        <%- include('../footer') %>

            <!---------Js------------>
    </body>