<%- include('../header')%>

    <section class="section-middle">
        <div class="page-title">
            <div class="container">
                <div class="page-title-in">
                    <h2>My Orders</h2>
                </div>
            </div>
        </div><!-- page-title -->

        <div class="dashboard-content">
            <div class="container">
                <div class="row">
                    <%- include('sidebar') %>
                        <!--col-md-3-->
                        <div class="col-lg-9 col-md-8">
                            <div class="uploads-right-area">
                                <div class="uploads-right-top">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <form action="/my-order" method="get" id="search_book">
                                                <div class="uploads-top-left">
                                                    <span class="date-picker">
                                                        <input type="date" class="form-control" id="start_date"
                                                            name="start_date" value="" />
                                                    </span>
                                                    <span class="date-picker">
                                                        <input type="date" class="form-control" id="end_date"
                                                            name="end_date" value="" />
                                                    </span>
                                                    <span class="date-select-btn">
                                                        <button onclick="refreshDocument()" class="btn btn-default"
                                                            type="button">
                                                            <i class="fas fa-redo"></i>
                                                        </button>
                                                        <button type="submit" class="btn">Search</button>
                                                    </span>
                                                </div>
                                                <span id="start_date_err" style="color:red ;"></span>
                                                <span id="end_date_err" style="color:red ;"></span>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="uploads-right-main">
                                    <div class="uploads-right-main-top">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="up-ct">Total Orders : <%- total_order %>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uploads-right-main-items my-Orders">
                                        <% if(myOrder.length> 0) { %>
                                            <table class="table" style="width:100%">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>S&nbsp;No.</th>
                                                        <th>Order&nbsp;Id</th>
                                                        <th>Transaction Id</th>
                                                        <th>Type</th>
                                                        <th>Status</th>
                                                        <th>Purchased&nbsp;Date</th>
                                                        <th>View</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(let i=0; i < myOrder.length;i++) { %>
                                                        <tr>
                                                            <td>
                                                                <%- i+1 %>
                                                            </td>
                                                            <td><a href="/order-details?orderId=<%- myOrder[i].order_id %>">#<%- myOrder[i].order_id %></a>
                                                            </td>
                                                            <td class="tr-ID">
                                                                <%- myOrder[i].transaction_id %>
                                                                    <!-- <div style="text-align:center"> -- </div> -->
                                                            </td>
                                                            <td>
                                                                <% if(myOrder[i].payment_type=='stripe' ) { %>
                                                                    <img style="max-width:80px;"
                                                                        src="/images/stripe.webp" alt="" />
                                                                    <% } else if(myOrder[i].payment_type=='paypal' ){ %>
                                                                        <img style="max-width:110px;"
                                                                            src="/images/payment_07.png" alt="" />
                                                                        <% } else { %>
                                                                            <img style="max-width:28px;" src="/images/wallet.png"
                                                                                alt="" /><span>wallet</span>
                                                                            <% } %>
                                                                                <!-- <div style="text-align:center"> -- </div> -->
                                                            </td>
                                                            <td>
                                                                <p>
                                                                    <% if(myOrder[i].payment_status=='succeeded' ) { %>
                                                                        <span class="btn btn-success">Completed</span>
                                                                        <% } else
                                                                            if(myOrder[i].payment_status=='incomplete'
                                                                            ){ %>
                                                                            <span class="btn btn-info">Cancelled</span>
                                                                            <% } else { %>
                                                                                <span
                                                                                    class="btn btn-danger">Pending</span>
                                                                                <% } %>
                                                                </p>
                                                            </td>
                                                            <td style="font-weight:600;">
                                                                <p>
                                                                    <%-
                                                                        JSON.stringify(myOrder[i].createdAt).slice(1,11).split('-').reverse().join('-');%>
                                                                </p>
                                                            </td>
                                                            <td><a class="pro-View" href="/order-details?orderId=<%- myOrder[i].order_id %>">
                                                                <i class="fa fa-eye"></i></a>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                </tbody>
                                            </table>
                                            <% } else { %>
                                                <center>
                                                    <div class="alert alert-danger mt-md-5 mt-3 w-90">No Order Found
                                                    </div>
                                                </center>
                                                <% } %>
                                    </div>
                                    <div class="item-pagination">
                                        <ul class="pagination">
                                            <% for(let i=1; i <=totalPages; i++) { %>
                                                <% if(i==1) { %>
                                                    <li class="page-item"><a class="page-link"
                                                            href="?page=<%- i %>&start_date=<%- start_date %>&end_date=<%- end_date %>"><i
                                                                class="fas fa-chevron-left"></i></a>
                                                    </li>
                                                    <% } %>
                                                        <li class="page-item <%= (currentPage==i)? 'active': ''; %>">
                                                            <a class="page-link "
                                                                href="?page=<%- i %>&start_date=<%- start_date %>&end_date=<%- end_date %>">
                                                                <%- i %>
                                                            </a>
                                                        </li>
                                                        <% if(i==totalPages) { %>
                                                            <li class="page-item"><a class="page-link"
                                                                    href="?page=<%- totalPages %>&start_date=<%- start_date %>&end_date=<%- end_date %>">
                                                                    <i class="fas fa-chevron-right"></i></a>
                                                            </li>
                                                            <% } %>
                                                        <% } %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--col-md-9-->
                </div>
                <!--row-->
            </div>
            <!--container-->
        </div>
        <!--dashboard-content-->
    </section>

    <%- include('../footer')%>
        <script>

            $('#search_book').submit((e) => {
                let start_date = $('#start_date').val();
                let end_date = $('#end_date').val();
                if(start_date == ''){
                    return false;
                }
                if (start_date !== '' && end_date == '') {
                    $('#end_date_err').html('Please select end date');
                    return false;
                }
                if (end_date !== '' && start_date == '') {
                    $('#end_date_err').html('');
                    $('#start_date_err').html('Please select end date');
                    return false;
                }
            });
            function refreshDocument() {
                $('#start_date').val('');
                $('#end_date').val('');
                location.replace('http://localhost:3300/my-order')
            }
        </script>