<%- include('../header') %>

    <body class="home">
        <div class="main-wrapper">
            <section class="section-middle">
                <div class="page-title">
                    <div class="container">
                        <div class="page-title-in">
                            <h2>Update Profile</h2>
                        </div>
                    </div>
                </div><!-- page-title -->
                <div class="dashboard-content">
                    <div class="container">
                        <div class="row">
                            <%- include('sidebar') %>
                                <div class="col-md-9">
                                    <div class="uploads-right-area">
                                        <div class="update-right card card-body box-sh">
                                            <form action="/update-profile" method="post" class="update-form"
                                                enctype="multipart/form-data" id="updateProfile">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>First Name <span>*</span></label>
                                                            <input type="text" name="firstName" id="firstName"
                                                                class="form-control" placeholder="First Name"
                                                                value="<%- userData.firstName %>">
                                                            <small id="firstName_warning"
                                                                class="text text-danger"></small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Last Name <span>*</span></label>
                                                            <input type="text" name="lastName" id="lastName"
                                                                class="form-control" placeholder="Last Name"
                                                                value="<%- userData.lastName %>">
                                                            <small id="lastName_warning"
                                                                class="text text-danger"></small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Phone Number <span>*</span></label>
                                                            <input type="text" name="phone" id="phone"
                                                                class="form-control" placeholder="Phone Number"
                                                                value="<%- userData.phone %>">
                                                            <small id="phoneError" class="text text-danger"></small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Email <span>*</span></label>
                                                            <input type="email" disabled="disabled" class="form-control"
                                                                placeholder="Phone Number"
                                                                value="<%- userData.email %>">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Profile photo</label>
                                                            <input type="file" name="profile" accept="image/*"
                                                                id="file-1" class="inputfile inputfile-1">
                                                            <small id="imageError" class="text text-danger"></small>
                                                            <label class="inputfile-label" for="file-1">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                    height="17" fill="#2c2f8c" viewBox="0 0 20 17">
                                                                    <path
                                                                        d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                                                                    </path>
                                                                </svg>
                                                                <span>Select photo</span>
                                                            </label>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Current Image</label>
                                                            <div class="profile-uplod-pic">
                                                                <img src="/uploads/<%- userData.profile %>"
                                                                    height="100px" width="60px"
                                                                    alt="image not avilable" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="submit" class="btn" value="Update Profile " />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>

    <%- include('../footer') %>
        <!-- <script src="js/index.js"></script> -->

        <script>

            $('#updateProfile').submit((e) => {
                console.log('execuet')

                // check firstname is valid or not

                let firstName = document.getElementById('firstName').value;
                if (firstName == '') {
                    document.getElementById('firstName_warning').innerHTML = "This field is required";
                    return false;
                } else if (firstName.match(/^\s+$/) !== null || /^[a-zA-Z]+$/.test(firstName) == false) {
                    document.getElementById('firstName_warning').innerHTML = 'This field not contain any blank space or number';
                    return false;
                }
                else {
                    document.getElementById('firstName_warning').innerHTML = '';
                }

                // check Lastname is valid or not

                let lastName = document.getElementById('lastName').value;
                if (lastName == '') {
                    document.getElementById('lastName_warning').innerHTML = "This field is required";
                    return false;
                } else if (lastName.match(/^\s+$/) !== null || /^[a-zA-Z]+$/.test(lastName) == false) {
                    document.getElementById('lastName_warning').innerHTML = 'This field not contain any blank space or number';
                    return false;
                }
                else {
                    document.getElementById('lastName_warning').innerHTML = '';
                }
                // check Phone No is valid or not

                let phone = $('#phone').val();
                var phoneno = /^\d{10}$/;
                if (phone == '') {
                    $('#phoneError').html('This field is required');
                    return false;
                } else if (phone.match(phoneno)) {
                    $('#phoneError').html('');
                    return true;
                } else {
                    $('#phoneError').html('Enter valid mobile number');
                    return false;
                }

                // var fileUpload = document.getElementById("file-1").value;
                // console.log('fileupload', fileUpload);
                // var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
                // if (fileUpload == '') {
                //     document.getElementById("imageError").innerHTML = 'Please select an image';
                //     return false;
                // }
                // else if (allowedExtensions.exec(fileUpload)) {
                //     document.getElementById("imageError").innerHTML = "";
                // }
                // else {
                //     document.getElementById("imageError").innerHTML = "Please upload files having extensions: .jpg  .jpeg  .png  .gif  only.";
                //     return false;
                // }

            });



        </script>